<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create users</a>

    </div>
    <!-- <%= JSON.stringify(userEdit) %> -->
    <div class="form-add-new">
        <form action="/delete-user" method="POST">
            <fieldset>
                <legend>Delete user</legend>
                <div class="d-none">
                    <label for="fname">UserId:</label>
                    <input type="text" id="fname" name="id" value="<%=userEdit.id %>" /><br><br>
                </div>
                <label for="fname">Are you to delete this user with email:</label>
                <input type="text" id="fname" name="email" value="<%=userEdit.email %>" /><br><br>


                <button>Save</button>
            </fieldset>
        </form>
    </div>
</body>

</html>