<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h2>long sama123</h2>
    <div>
        <img class="hoidanit" src="/images/6773a5d908f71.png">
    </div>
</body>

</html>